/* Global settings */
/* Global "table" column settings */
.image {
	float: left;
	width: 10%;
}
.name {
	float: left;
	width: 20%;
}

.details {
	float: left;
	width: 25%;
}

.price {
	float: left;
	width: 20%;
}

.removal {
	float: left;
	width: 20%;
}

.line-price {
	float: left;
	width: 20%;
	/* text-align: right; */
}

.group:before,
.cart:before,
.column-labels:before,
.product:before,
.totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
	content: '';
	display: table;
}

.group:after,
.cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
	clear: both;
}

.group,
.cart,
.column-labels,
.product,
.totals-item {
	zoom: 1;
}
/* Apply dollar signs */
.product .price:before,
.product .line-price:before,
.totals-value:before {
	content: '$';
}
/* Body/Header stuff */
body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
}

h1 {
	font-weight: 100;
	color: #aaa;
}

label {
	color: #aaa;
}

.cart {
	margin-top: -45px;
}
/* Column headers */
.column-labels label {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.column-labels .image,
.column-labels .details,
.column-labels .product-removal {
	text-indent: -9999px;
}
/* Product entries */
.product {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	color: #aaa;
}

.product .image {
	text-align: center;
}

.product .image img {
	width: 100px;
}

.product .details,
.product title {
	margin-right: 20px;
	font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
	font-weight: bold;
}

.product .description {
	margin: 5px 20px 5px 0;
	line-height: 1.4em;
}

.quantity input {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.remove-product {
	border: 0;
	padding: 4px 8px;
	background-color: #c66;
	color: #fff;
	font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
	font-size: 12px;
	border-radius: 3px;
}

.remove-product:hover {
	background-color: #a44;
}

.EmptyCart {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* Totals section */
.totals .totals-item {
	float: right;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	color: #aaa;
}

.totals .totals-item label {
	float: left;
	clear: both;
	width: 79%;
	text-align: right;
}

.totals .totals-item .totals-value {
	float: right;
	width: 21%;
	text-align: right;
}

.totals .totals-item-total {
	font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}

.checkout {
	float: right;
	border: 0;
	margin-top: 20px;
	margin-right: 20px;
	padding: 6px 25px;
	background-color: #6b6;
	color: #fff;
	font-size: 25px;
	border-radius: 3px;
}

.checkout:hover {
	background-color: #494;
}
